<div class="p-4">
  <h1 class="font-bold text-3xl">RxJs Observables Explained with an example!</h1>
  <p>You run an online casino. </p>
  <p>There is only one room where users can play, and you have a big queue of users waiting to enter the room.</p>
  <p>You can let users in the room (one at a time) by clicking the blue buttons below.</p>
  <p>Each button corresponds to a different entry method.</p>
  <p>When you click a button, a new request starts, to let the next user in the queue enter the room.</p>
  <p>The entry process takes a few seconds (because the user must be registered and he is given some cash to play in the casino).</p>
  <p>Remember: when you click a button the next user enters the room according to the entry method that you have just selected.</p>
  
  <div class="flex mt-6 mb-6">
    <div class="flex flex-col items-center">
      <button 
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold m-2 py-2 px-4 border border-blue-700 rounded"
        (click)="mergeMapOperator()"
      >
        mergeMap
      </button>
      <p class="px-6">Process all requests at the same time, as soon as they arrive.</p>
    </div>
    <div class="flex flex-col items-center">
      <button 
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold m-2 py-2 px-4 border border-blue-700 rounded"
        (click)="switchMapOperator()"
      >
      switchMap
      </button>
      <p class="px-6">Once a new request arrives, stop working on the old request and process immediately the new one. The previous requests therefore get lost, and only the latest request will be fully processed.</p>
    </div>
    <div class="flex flex-col items-center">
      <button 
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold m-2 py-2 px-4 border border-blue-700 rounded"
        (click)="concatMapOperator()"
      >
        concatMap
      </button>
      <p  class="px-6">Once a new request arrives, it gets added to the queue. Once a request is fully processed, the next request on the queue starts being processed.</p>
    </div>
    <div class="flex flex-col items-center">
      <button 
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold m-2 py-2 px-4 border border-blue-700 rounded"
        (click)="exhaustMapOperator()"
      >
        exhaustMap
      </button>
      <p  class="px-6">You ignore any incoming request, and keep working on the current request. Once work is done, you accept new incoming requests.</p>
    </div>
  </div>
  
  <div class="text-red-500">{{errorMsg$ | async}}</div>
  <p>People waiting in the queue:</p>
  <div class="flex">
    <div *ngFor="let ou of queueUsers" class="sm:rounded-lg m-2 p-2 bg-orange-700 font-medium text-white">
      {{ou.id }}: {{ou.name}}
    </div>
  </div>
  <p>People who entered the room:</p>
  <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    Name
                </th>
                <th scope="col" class="py-3 px-6">
                  Balance
              </th>
            </tr>
            
        </thead>
        <tbody>
          <tr *ngFor="let u of roomUsers" 
              class="bg-gray-50 border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{u.id}}: {{u.name}}
            </th>
            <td class="py-4 px-6">
              {{u.balance}}
            </td>
          </tr>
        </tbody>
    </table>
  </div>
  
</div>
